/*
* Olivia Poole
* 3/28/18
* CSS for goldendoodles webpage
*/


/* The universal selector */

* {

}


body {background-color: lightyellow;
	color: maroon
	;
}
h1 {
	font-weight:bold
	Font-size: 150%;
	text-align: center;
	text-transform: uppercase;
	text-decoration: overline underline;
	background-color:burlywood
	}
body 	{
	font-family:Arial, Helvetica, sans-serif
	}
figure  {float:right;}
p {background-color:white;
	color:darkolivegreen}
h2 {background-color:burlywood}